@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
